.background {
  position: absolute;
  width: 200%;
  top: -9px;
  left: -183px;
  height: 100%;
  background: #002245;
  transform: rotate(-3deg);
  z-index: -1;
}
.background2 {
  position: absolute;
  width: 201%;
  top: -30px;
  left: -195px;
  height: 106%;
  background: #88c3ff;
  transform: rotate(-3deg);
  z-index: -2;
}
@media screen and (min-width: 600px) {
  .logo {
    margin: 0rem 0.5rem 0rem 2rem;
  }
}
